<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="static/login.css">
</head>
<body>
  <div>
    <form action="/login" method="POST">
      <input type="text" name="name" placeholder="Enter name" class="name">
      <input type="password" name="pass" placeholder="Enter password" class="pass">
      <input type="submit" name="submit" class="submit">
    </form>
  </div>
</body>
</html>