* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
button{
  background: linear-gradient(45deg,rgb(0, 255, 225),rgb(0, 200, 255));
  border: none;
  padding: 10px;
  font-weight: 600;
  border-radius: 12px;
}
button:hover{
  background: linear-gradient(45deg,rgb(255, 38, 0),rgb(255, 196, 0));
}
a{
  text-decoration: none;
  color: azure;
}